.jumbotron{
  margin-bottom: 0;
}

body{
  background-color: whitesmoke;
}

#carousel{
  /* width: 60%; */
  margin: 5% 0%;

}

#carouselCaption{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    /* opacity: 0.7; */
}